:root {
  --gray: rgb(70, 69, 69);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  transition: 0.5s;
}

body {
  background-color: #ebe9e9;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  /* border: 1px solid red; */
}

p {
  color: var(--gray);
  font-size: 15px;
}

image{
  width: 10%;
  height: 10%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

i {
  cursor: pointer;
}

/* --TOP WEB */
.topweb {
  background-color: black;
  padding: 7px;
}

.topweb .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  text-transform: capitalize;
}

.topweb .wrapper .top-web-left a {
  color: white;
  margin-right: 12px;
}

.topweb .wrapper .top-web-right a i {
  color: white;
  margin-left: 12px;
}

/*----------- NAVIGATION BAR-------------- */
header {
  background-color: white;
  padding: 15px;
  width: 100%;
}

#bars,
#times {
  display: none;
}

header .wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

header .wrapper .logo {
  font-size: 25px;
  color: black;
  font-weight: 800;
}

header .wrapper .logo i {
  color: orangered;
}

header .wrapper .navbar {
  display: inline-flex;
}

header .wrapper .navbar li a {
  font-size: 14px;
  color: black;
  font-weight: 600;
  margin-left: 25px;
  text-transform: uppercase;
}

.logo-991 {
  display: none;
}

header .wrapper .navbar li a:hover,
.topweb .wrapper a:hover,
.topweb .wrapper a i:hover {
  color: orangered;
  transition: all 0.1s;
}

header .search {
  position: absolute;
  right: 0;
  background-color: #eeecec;
  padding: 3px;
  border-radius: 5px;
}
header form {
  display: flex;
  align-items: center;
}

form input {
  width: 320px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
}



/* NOT DONE */



li {
  list-style: none;
}

.site-header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.cart-icon {
  position: absolute;
  top: 75px;
  right: 10px;
  transform: translate(-50%, -50%);
}

.site-header>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.site-header>ul {
  display: block;
  list-style: none;

}

.site-header li {
  list-style: none;
  margin: 1em;
  font-size: 18px;
}

.site-header img {
  max-width: 100%;
  width: unset;
}

.site-header input {
  border-radius: 7px;
  height: 1.5em;
  width: 30em;
}

.hero {
  border: 0.25em solid black;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.hero img {
  width: 1100px;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.hero-card {
  display: flex;
  flex-direction: column;
}

.hero button:hover {
  background-color: #8C92AC;
  transform: translate(-3px);
}

.hero button {
  width: 75%;
  height: 3em;
  box-shadow: 2px 2px 5px;
  transition: 0.5s;
  margin-top: 1em;
}

.hero h1 {
  text-decoration: underline;
  margin-bottom: .4em;

}

.FlexContainer {
  display: none;
  justify-content: center;
  gap: 2em;
  margin: 2em, 1em, 2em;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 1em;
}

.flexcard {
  position: relative;
}

.flexcard .Flex-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-products h1 {
  text-align: center;
  margin-bottom: 1em;
}

.parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.items-card {
  position: relative;
  display: inline;
  margin: 1em;
  align-items: center;
  border: 2px solid black;
}

.items-card img {
  width: 25%;
}

.items-card .heart {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.items-name {
  font-weight: bold;
  float: left;
}

.items-price {
  font-weight: bold;
  float: right;
}

/* buttom icon*/

.icon {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  text-align: center;
}

.icon>div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1em;
}


.footercopy {
  font-size: large;
  text-align: center;
  margin-top: 30px;
}

/* product detail! */
.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}

.product-detail img {
  justify-content: start;
}

.product-detail {
  border: 2px solid black;
}

.product-detail>.product-info {
  display: flex;
  padding: 2em;
  flex-direction: column;
}

.product-info>* {
  margin-bottom: 1em;
  gap: 1em;
}

.product-detail button {
  box-shadow: 2px 2px;
  height: 30px;
  margin: 10px;
}

.product-detail button:hover {
  background-color: #8C92AC;

}

.product-detail form {
  text-align: start;
}

details>summary {
  border: 1px solid black;
  background-color: #8C92AC;
  list-style: none;
  cursor: pointer;
  text-align: left;
}

.accordion {
  border: 1px solid rgb(255, 0, 0);
  margin: 1em;
}

.info {
  display: none;
  gap: 2em;
  margin: 2em;

}

.info ul {
  list-style: none;
}

.info li {
  margin-top: .5em;
}

footer {
  font-weight: bold;
  text-align: center;
  margin: 1em;
}



/* checkout */

.herocheckout {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.checkout-box {
  border: 1px solid black;
  height: 70px;
  margin: .5em;
}

.fullscreen {
  display: none;
}

.fullscreen table {
  width: 100%;
  border: 1px solid black;
  margin: 1em;
  border-collapse: collapse;
}

.fullscreen th,
td {
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

th {
  background-color: darkgrey;
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.checkout-box {
  background-color: rgb(145, 167, 167);
}

/* .kunduppgifter{
    margin: 1em;
  }
  .kunduppgifter *{
    margin: 1em;
  }
  
  .kundnamn{
    margin: 0;
    display: block;
  } */
.fname,
.lname {
  margin-left: 0em;
}

#checkbox {
  margin-right: 0;
}

.submit-button {
  text-align: center;
  height: 40px;
  width: 80px;
  margin: 10px;
}


/* END */
.end{
  background-color: rgb(5, 5, 5);
}
.end .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.end .wrapper p{color: white;}
.end .wrapper ul{
  display: flex;
}
.end .wrapper ul li a{
  margin-left: 10px;
  color: white;
  font-size: 14px;
}

/* media query */

@media (min-width: 576px) {

  .site-header>div {
    flex-direction: row;
  }

  .site-header li {
    display: inline;
  }

  .icon {
    grid-template-columns: repeat(2, 1fr);
  }

  .accordion {
    display: none;
  }

  .parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .info {
    display: flex;
  }

  .product-detail {
    text-align: start;
    display: flex;
    flex-direction: row;
  }

  .fullscreen {
    display: flex;
  }

  .kundnamn {
    display: flex;
  }

  .checkout-box {
    display: none;
  }


}

@media (max-width: 991px) {
  .topweb {
    display: none;
  }
  #bars {
    display: block;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
  }

  .bars:hover,
  .times:hover {
    color: orangered;
    cursor: pointer;
  }
  header .navbar {
    position: absolute;
    width: 280px;
    height: 150vh;
    top: -15px;
    left: -15px;
    display: block;
    background-color: rgb(255, 254, 254);
    z-index: 1000;
    box-shadow: 1px 2px 5px 5px rgba(68, 68, 68, 0.1);
    opacity: 1;
    /* visibility: hidden; */
  }
  header .wrapper .navbar {
    display: block;
  }

  header .wrapper .navbar li {
    margin-top: 25px;
  }

  .logo-991 {
    display: block;
    border-bottom: 1px solid #cccccc;
    padding: 17px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 23px;
    color: black;
    font-weight: 800;
  }

  .logo-991 i {
    color: orangered;
    margin: 0 10px;
  }

  #times {
    display: block;
    position: absolute;
    top: 24px;
    right: 18px;
    font-size: 22px;
    font-weight: 100;
    cursor: pointer;
  }



  .icon {
    grid-template-columns: repeat(4, 1fr);
  }

  .parent {
    grid-template-columns: repeat(4, 1fr);
  }

  .FlexContainer {
    display: flex;
  }

  .hero-card {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .product-detail {
    flex-direction: row;
  }

  .product-info form {
    left: 100px;
  }
}


/* Max-wuidth 880px */
@media(max-width:880px){

  /* End wrapper */
.end .wrapper{
  display: flex;
 flex-direction: column;
}
.end .wrapper ul{margin-top: 20px; order: 1;}

}