:root {
  --gray: rgb(70, 69, 69);
  --font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  transition: 0.5s;
}

body {
  background-color: #ebe9e9;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  /* border: 1px solid red; */
}

p {
  color: var(--gray);
  font-size: 15px;
}

svg {
  width: 30px;
}

button {
  cursor: pointer;
}


h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: white;
}

i {
  cursor: pointer;
}



/* -----------This css is over navbar----------- */
.navbar-social{
  background-color: black;
  padding: 7px;
}
.navbar-social .wrapper{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  text-transform: capitalize;
}
.navbar-social .wrapper .navbar-web-left a{
  color: white;
  margin-right: 12px;
}
.navbar-social .wrapper .navbar-web-right a i{
  color: white;
  margin-left: 12px;
}
/*----------- NAVIGATION BAR-------------- */
header{
  background-color: white;
  padding: 15px;
  width: 100%;
}
#bars,
#times{
  display: none;
}
header .wrappe{
  display: flex;
  align-items: center;
  position: relative;
}
header .wrapper .logo{
  font-size: 25px;
  color: black;
  font-weight: 800;
}
header .wrapper .logo i{
  color: orangered;
}
header .wrapper .navbar-primary{
  display: inline-flex;
}
header .wrapper .navbar-primary li a{
  font-size: 14px;
  color: black;
  font-weight: 600;
  margin-left: 25px;
  text-transform: uppercase;
}
.logo-991{
  display: none;
}
header .wrapper .navbar-primary li a:hover,
.navbar-social .wrapper a:hover,
.navbar-social .wrapper a i:hover{
  color: orangered;
  transition: all 0.1s;
}
header .search{
  background-color: #eeecec;
  border-radius: 5px;
}
header form {
  display: flex;
  align-items: center;
}
.cart-container{
  display: flex;
  justify-content: flex-end;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: 0.5s;
}
.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-cart{
  position: absolute;
}
.icon-cart span{
  background-color: red;
  position: absolute;
  top: 50%;
  right: -20px;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: xx-large;
}
.cartTab{
  background-color: #353432;
  color: #eee;
  width: 400px;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
  background-color: orange;
  border: none;
  font-family: sans-serif;
  font-weight: 500;
}
.cartTab .btn button.close{
  background-color: #eee;
}
.cartTab .listCart{
  overflow: auto;
}
.cartTab .listCart::-webkit-scrollbar{
  width: 0;
}
.cartTab{
  right: -400px;
  transition: 0.5s;
}
body.activeTabCart .cartTab{
  right: 0;
}
body.activeTabCart .cart-container{
  transform: translateX(-250px);
}
/* ------------THIS CSS CODE DOWN BELOW IS NOT DONE AND SOME NOT USE------------------ */
li{
  list-style: none;
}
.site-header{
 
}


/* buttom icon*/

.icon{
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  text-align: center;
}
.icon>div{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1em;
}
details>summary{
  border: 1px solid black;
  background-color: #8C92AC;
  list-style: none;
  cursor: pointer;
  text-align: left;
}
.accordion{
  border: 1px solid rgb(255, 0, 0);
  margin: 1em;
}
.info{
  display: none;
  gap: 2em;
  margin: 2em;
}
.info ul{
  list-style: none;
}
.info li{
  margin-top: .5em;
}

/* --------------This css is bottom of index.html------------------- */
.end{
  background-color: rgb(5, 5, 5);
}
.end .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.end .wrapper p{
  color: white;
}
.end .wrapper ul{
  display: flex;
}
.end .wrapper ul li a{
  margin-left: 10px;
  color: white;
  font-size: 14px;
}



@media (max-width: 991px) {
  .navbar-social{
    display: none;
  }
  #bars{
    display: block;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  .bars:hover,
  .times:hover{
    color: orangered;
    cursor: pointer;
  }
  header .navbar-primary{
    position: absolute;
    width: 280px;
    height: 150vh;
    top: -15px;
    left: -15px;
    display: block;
    background-color: rgb(255, 254, 254);
    z-index: 1000;
    box-shadow: 1px 2px 5px 5px rgba(68, 68, 68, 0.1);
    opacity: 1;
    /* visibility: hidden; */
  }
  header .wrapper .navbar-primary{
    display: block;
  }
  header .wrapper .navbar-primary li{
    margin-top: 25px;
  }
  .logo-991{
    display: block;
    border-bottom: 1px solid #cccccc;
    padding: 17px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 23px;
    color: black;
    font-weight: 800;
  }
  .logo-991 i{
    color: orangered;
    margin: 0 10px;
  }
  #times{
    display: block;
    position: absolute;
    top: 24px;
    right: 18px;
    font-size: 22px;
    font-weight: 100;
    cursor: pointer;
  }
  .icon{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width:880px){

  .end .wrapper {
    display: flex;
    flex-direction: column;
  }
  .end .wrapper ul {
    margin-top: 20px;
    order: 1;
  }
}

@media (min-width: 576px){

  .site-header>div{
    flex-direction: row;
  }
  .site-header li{
    display: inline;
  }
  .icon{
    grid-template-columns: repeat(2, 1fr);
  }
  .accordion{
    display: none;
  }
  .info {
    display: flex;
  }
  .fullscreen{
    display: flex;
  }
}